<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body onload="openNav()">

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="file:///home/arun/flask/helloworld/templates/add_teachers.html">Add Teachers</a>
  <a href="http://localhost:5000/show_teachers">Show Teachers</a>
  <a href="http://localhost:5000/add_student">Add student</a>
  <a href="http://localhost:5000/show_student">view Student</a>
</div>

<!--<h2>Teachers Deatails 2</h2>
<p>Click on the element below to open the side navigation menu.</p>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>-->

<div class="container">

	  <div class="row">
    			<div class="col-sm-2">
			</div>
			<div class="col-sm-9">
					<h2>Class Deatails : {{ classd[1] }}  </h2>
			</div>
			<div class="col-sm-1">
				<a href="http://localhost:5000/log_out"> logout </a>
			</div>
	</div>


		
		


  <div class="row">
    <div class="col-sm-2">
     
    </div>
    <div class="col-sm-10">
	<h3>Teachers details</h3>
     		
		<form method = "post"   id="Form_Add_student">
		
			



		<table border="1" cellpadding="5" cellspacing="5"  class="table table-bordered" >
		<thead>	  
			<tr>
				<th>ID</th>
				<th>role</th>
				<th>Class</th>	
				<th>Username</th>
				<th>password</th>
				<th>name</th>
				
				<th>status</th>
				<th>status</th>
				<th>Action</th>
			 </tr>
		</thead>
			{% for row in teachers %}
		    	<tr>
                               
		    		{% for d in row %}
					<td>{{ d }}</td>
		    		{% endfor %}
				<td>
					<a href="http://localhost:5000/edit_teachers/{{ row[0] }}" >Edit </a>  
					<a href="http://localhost:5000/delete_teachers/{{ row[0] }}" > Delete </a> 	
				 </td>
		    	</tr>
		{% endfor %}
		</table>
			
			

		 <!-- <button type="submit" class="btn btn-default">Submit</button> -->
		<img src="../static/imag/ajax-loader.gif" height="30" width="30" id="loader" style="display:none">

			<div class="alert alert-success" id="success-msg" style="display:none">
  					<strong>Success!</strong> Indicates a successful or positive action.
			</div>
      
		</form>
</div>
		
     <div class="col-sm-2">
     
    </div>


<div class="col-sm-10">
	<h3>student details</h3>
     		
		<form method = "post"   id="Form_Add_student">
		
		<table border="1" cellpadding="5" cellspacing="5"  class="table table-bordered" >
		<thead>	  
			<tr>
				<th>ID</th>
				<th>role</th>
				<th>Class</th>	
				<th>Username</th>
				<th>password</th>
				<th>name</th>
				
				<th>status</th>
				<th>status</th>
				<th>Action</th>
			 </tr>
		</thead>
			{% for row in stdudent %}
		    	<tr>
                               
		    		{% for d in row %}
					<td>{{ d }}</td>
		    		{% endfor %}
				<td>
					<a href="http://localhost:5000/edit_student/{{ row[0] }}" >Edit </a>  
					<a href="http://localhost:5000/delete_teachers/{{ row[0] }}" > Delete </a> 	
				 </td>
		    	</tr>
		{% endfor %}
		</table>
			
			

		 <!-- <button type="submit" class="btn btn-default">Submit</button> -->
		<img src="../static/imag/ajax-loader.gif" height="30" width="30" id="loader" style="display:none">

			<div class="alert alert-success" id="success-msg" style="display:none">
  					<strong>Success!</strong> Indicates a successful or positive action.
			</div>
      
		</form>

		
    </div>




  </div>
</div>





<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}




</script>


<script src="../static/js/jquery.js"></script>

<script src="../static/js/jquery.validate.js"></script>
<script src="../static/js/additional-methods.js"></script>

<script type="text/javascript">
	
	$('#selectID').change(function()
	{

		var id = $('#selectID').val();
		alert(id);
		//redirect("www.google.com");
		//window.location.href = "http://www.tutorialrepublic.com/";
			url = "http://www.rapidtables.com/web/dev/jquery-redirect.htm";
      			$(location).attr("href", url);
		
	});	

</script>

<script type="text/javascript">
	
$(document).ready(function()
{
		//alert("hiiiiiiiiii");
});

</script>
     
</body>
</html> 

